@import '~sass/variables.scss';

.container--landing {
    background-color: #ddd;
}

.container--dialogue {
    background-color: white;
}

.test {
    background-color: red;
    min-height: 50px;
}

// .logo--landing {
//     @media #{$gt-xsmall} {
//         //max-height: 250px;
//     }
// }