.header {
  background-color: #A191E7;
  min-width: 315px;
}

.header-search {
    line-height: 1.5em;
    font-size: 1.2em;
    color: #6d6d6d;
    background-color: #eeeeee;
    border-radius: 10px;
    border: solid white;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.bar {
  background-color: #c0c0c0;
}
