h3 {
    color: white;
    margin: 0;
    text-align: right;
}

.title {
 text-align: left;
}

.header {
    background-color: #754144;
    height: 10vh;
}

.upper-bar {
    background-color: #47181d;
}