@import '~app/shared/sass/application.scss';

:host {
    flex: inital;
}

.header-branding__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-size-greater-than(small) {
        padding: 0 0 0 20px;
    }

    &:link, &:hover, &:visited {
        text-decoration: none;
    }
}

.header-branding__image {
    max-height: 45px;
}

.header-branding__text {
    color: $mine-shaft;
    font-size: 24px;
    padding: 0 10px;

    @media #{$small}, #{$xsmall} {
        display: none;
    }
}
