//Screen
$xsmall: "screen and (max-width: 575px)";
$gt-xsmall: "screen and (min-width: 576px)";

$small: "screen and (min-width: 576px) and (max-width: 767px)";
$gt-small: "screen and (min-width: 768px)";

$medium: "screen and (min-width: 768px) and (max-width: 991px)";
$gt-medium: "screen and (min-width: 992px)";

$large: "screen and (min-width: 992px) and (max-width: 1199px)";
$gt-large: "screen and (min-width: 1200px)";

$xlarge: "screen and (min-width: 1200px)";