// Common / Theme Colors
$blue--nav: #6F8FD9;
$blue--header: #6FC4D9;
$slate: #EAE3EA;
//Not currently in use:
$light-purple: #A191E7;
$dark-green: #06731E;
$light-green: #98E4A9;
// Accents
// Fonts
