@import '~sass/variables';

:host {
  //border-bottom: 0.5vh solid #A7B3A5;
}

.header {
  height: 8vh;
  max-height: 70px;
  background-color: $blue--nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media #{$gt-small} {
    justify-content: start;
  }
}