@import '~app/shared/sass/application.scss';

:host {
  display: flex;
  flex: initial;
  height: 8vh;
  max-height: 70px;
  background-color: $white;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media #{$gt-small} {
    justify-content: start;
  }
}