<div class="about__header">
    <span>What is GreenBat?</span>
</div>
<div class="about__content">
    <p>GreenBat is a simple tool you can use to look up information related to various CCGs (collectible card games) without worrying about ads doing silly stuff with your browser.</p>
    <p>Also, outside of the simple logo for this application in the heading, the only images you'll see are those related to content you're trying to access, so things should run pretty smoothly even with poor connection speeds.</p>
    <p>Feel free to reach out to me on
        <a class="about__content__link" href="https://twitter.com/Brutonious">Twitter</a>
         with any additional features you'd like to see implemented. You can check out the source code for this project on
         <a class="about__content__link" href="https://github.com/mattbruton/GreenBat">GitHub</a>
    </p>
</div>
