@import '~app/shared/sass/application.scss';

:host {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    @include media-width-greater-than(small) {
        flex: 0 1 80%;
        padding-top: 24px;
    }
}

.about__header {
    background-color: $mine-shaft;
    height: 80px;
    display: flex;
    align-items: center;
    @include media-width-greater-than(small) {
        @include top-or-bottom-bradius(top, 3px);
    }
    span {
        margin: auto;
        border-bottom: 2px solid #EDF8FA;
        color: #EDF8FA;
        font-size: 24px;
        @include media-width-greater-than(small) {
            margin: 0 20px;
        }
    }
}

.about__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 300px;
    border-top:none;
    flex: initial;
    justify-content: center;
    align-items: center;
    @include top-or-bottom-bradius(bottom, 3px);
    @include media-width-greater-than(small) {
        border: 2px solid $mine-shaft;
    }
    p {
        flex: inital;
        margin: 10px 0;
    }
}

.about__content__link,
.about__content__link:visited,
.about__content__link:hover {
    color: $chateau-green;
}