<!--<div class="main-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <gb-header fxFlex="10.5vh"></gb-header>
  <div fxLayout="column" fxFlex="">
    <gb-primary class="content-container" fxFlex=""></gb-primary>
    <gb-footer fxFlex="5"></gb-footer>
  </div>
</div>
<router-outlet></router-outlet>-->

<clr-main-container>
  <gb-header></gb-header>
  <gb-primary class="content-container"></gb-primary>
  <gb-footer></gb-footer>
</clr-main-container>
<router-outlet></router-outlet>


  <!--<div fxLayout="column" fxFlex="">

    <gb-footer fxFlex="5"></gb-footer>
  </div>
</div>-->