@import '~sass/variables.scss';

.content__container {
    //Flex Container
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    min-height: 85vh;
    width: 100vw;
    background-color: $light-purple;
    overflow: auto;
}

.app-sidenav {
    width: 216px;
    background-color: white;
    box-shadow: 0 0 5px 1.5px rgba(0,0,0,.3);
}

.app-content {
    flex-basis: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: row;
}
