@import '~sass/variables.scss';

.container--primary {
    min-height: 84.5vh;
    width: 100vw;
    background-color: $light-purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.item {
    flex: initial;
}