<div class="primary_container" fxLayout="column" fxLayoutAlign="start none">
  <label fxFlex="0 0 20px" for="card-name">Search by Name</label>
  <input fxFlex="0 0 40px" type="text" #searchInput list="potentialMatches" name="card-name" placeholder="Card Name" (input)="searchCard(searchInput.value)">
  <datalist id="potentialMatches">
    <option *ngFor="let card of cards" value={{card.name}}>
  </datalist>

  <label fxFlex="0 0 20px" for="cost">Cost</label>
  <select fxFlex="0 0 20px" name="cost">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
</div>
