.primary_container {
    background-color: coral;
    min-height: 90vh;
    text-align: center;
    padding: 2% 4% 0 4%;
}

li {
    list-style-type: none;
}

label {
    color: #fff;
}

input {
    line-height: 2.9;
    text-align: center;
}

.card-detail{
    background-color: lightcoral;
}