<div fxFlex="100%" class="detail" fxLayout="column" fxLayoutAlign="start center">
  <div  *ngIf="selectedCard; else noCard">
    <img class="image-sel" src="http://media.services.zam.com/v1/media/byName/hs/cards/enus/{{selectedCard.id}}.png" alt="Image of {{selectedCard.name}}">
    <h4>Flavor Text:</h4>
    <h5>{{selectedCard.flavor}}</h5>
  </div>
  <ng-template #noCard>
    <div>
      <img class="image" src="../../../assets/BigGreenBat1.png" alt="Hearthstone Card Back">
    </div>
  </ng-template>
</div>


<!--<div fxLayout="column" fxLayoutAlign="start stretch">-->
  <!--<gb-card-detail fxFlex="84.5vh" [selectedCard]="selectedCard"></gb-card-detail>-->
  <!--<hs-card-list fxFlex="1 0 100px" class="content" (selectCard)="passCardToDetailView($event)"></hs-card-list>-->
<!--</div>-->


<!--<input class="header-search" fxFlex="250px" fxFlex.gt-xs="30.5%" type="text" [disabled]="isSearchDisabled" >-->