@import '~sass/variables';

:host {
  border-bottom: 0.5vh solid $purple;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media #{$gt-small} {
    justify-content: start;
  }
}